﻿@model NidaIntegration.Saml.SamlResponseViewModel

@{
    ViewBag.Title = "Test Harness | Saml Received";
}

<h1>Saml Assertion Received</h1>

<div>
    @if (Model.Success)
    {
        <dl class="dl-horizontal">
            <dt>In response to</dt>
            <dd>@Model.InResponseToSamlRequestId</dd>
            <dt>Persistent Id</dt>
            <dd>@Model.PersistentId</dd>
            <dt>Level of assurance</dt>
            <dd>LOA-@Model.LevelOfAssurance</dd>
            <dt>Assurance pending</dt>
            <dd>@Model.LevelOfAssurancePending</dd>
            <dt>Matched with CIS</dt>
            <dd>@Model.OnlineUser.IsMatched</dd>
            <dt>CustomerID</dt>
            <dd>@Model.OnlineUser.IndividualID</dd>
        </dl>

        <hr />

        @Html.ActionLink("Request LOA-2", "SendSamlRequest", "Saml", new { levelOfAssurance = 2, persistentId = Model.PersistentId }, new { @class = "btn btn-call-to-action", @id = "RequestLoa2" })
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>In response to</dt>
            <dd>@Model.InResponseToSamlRequestId</dd>
            <dt>Message</dt>
            <dd>@Model.Message</dd>
        </dl>
    }
</div>