﻿@model NIDAIntegration.Models.JSONModel

@{
    ViewBag.Title = "Match Requests";
}

<h2>MatchRequests</h2>

<table class="table table-striped">

@foreach (var item in @Model.MatchRequests ) {
    <tr>
        <td>
            @item
        </td>
    </tr>

}

</table>
