﻿@{
    ViewBag.Title = "NICS Test Harness";
}

<h1 id="skip-dest">Test Harness Home Page</h1>

<p class="intro">
    This is the home page of the Service Provider Test Harness
</p>
<p>
    @Html.ActionLink("Request LOA 1", "SendSamlRequest", "Saml", new { levelOfAssurance = 1 }, new { @class = "btn btn-call-to-action" })

    @Html.ActionLink("Request LOA 2", "SendSamlRequest", "Saml", new { levelOfAssurance = 2 }, new { @class = "btn btn-call-to-action" })

    @Html.ActionLink("Request LOA 3", "SendSamlRequest", "Saml", new { levelOfAssurance = 3 }, new { @class = "btn btn-call-to-action" })

    <a href="@NIDAIntegration.Helpers.SettingsHelper.GetAccountManagementUrl()" class="btn btn-call-to-action">nidirect account management</a>
</p>
<hr />
<div class="form-horizontal">
    <div class="control-group">
        <label>Enter PersistentId for the simulated functions below</label>
        <input type="text" id="persistentIdTextBox" />
    </div>
</div>
<br />
@Html.ActionLink("Request LOA-2", "SendSamlRequest", "Saml", new { levelOfAssurance = 2, persistentId = "fakePersistentId" }, new { @class = "btn btn-call-to-action", @id = "Loa1UserLoggedInAsLoa1RequestsLoa2Service" })

@section scripts
{
<script type="text/javascript">
        $(function () {
            $("#Loa1UserLoggedInAsLoa1RequestsLoa2Service").click(function () {
                var fakedUri = $("#Loa1UserLoggedInAsLoa1RequestsLoa2Service").prop("href");
                var uri = fakedUri.replace("fakePersistentId", $("#persistentIdTextBox").val());
                $("#Loa1UserLoggedInAsLoa1RequestsLoa2Service").prop("href", uri);
            });
        });
</script>
}